@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var name = ViewData["MyName"];
    var age = ViewData["Age"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>My Name @name</p>
    <p>My age @age</p>
</div>
